body{
  text-align: center;
  background-color: #333333; 
  font-family: Open Sans, Arial;
}

.row {
  margin : auto;
  width: 60%;
  min-width: 360px;
  color: white;
}
.control {
  display: inline-block;
  width: 48%;
  font-size: 25px;
}
.control span {
  margin: 0 5px;
}
.btn {
  cursor: pointer;
}

.circle {
  width: 240px;
  height: 240px;
  border: 2px solid pink;
  border-radius: 120px;
  font-size: 35px;
  margin: auto;
  margin-top: 50px;
  background-color: green;
}

.content {
  padding-top: 30px;
}
.btns {
  margin-top: 30px;
}
.btns a {
  display: inline-block; 
  width: 25%;
}
.btns a i {
  font-size: 25px;
  color: white;
}
#pauseBtn {
    display: none;

}