body{
  background-color: #36517c;
}
.container {
  padding-top: 200px;
  text-align: center;
  color: white;
  font-size: 23px;
}
.container a {
  text-decoration: none;
  color: white;
}
.container p {
  margin: 0;
}
#searchContainer{
  position: relative;
  transition: 0.5s ease;
  padding: 20px 0;
}
#searchContainer i {
  display: block;
  color: #e27916;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.5s ease;
  cursor: pointer;
}
input[type=text]{
  background-color: #36517c;
  border: 4px solid #e27916;
  border-radius: 38px;
  font-size: 16px;
  padding: 5px 10px;
  color: white;
  width: 30%;
  display: none;
  transition: display 0.4s;
}
input[type=text]:focus {
  outline: none;
}
#myBtn {
  font-size: 15px;
  color: #e27916;
  border: 4px solid #e27916;
  border-radius: 5px;
  background-color: #36517c;
}
#result {
  margin: 10px 0px;
  padding: 0;
  list-style-type: none;
  text-align: left;
  background-color: white;
  color: black;
  font-size: 15px;
}
 #result i {
  color: grey;
  margin-right: 10px;
}
.re-header {
  position: relative;
}
.re-header a {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 18px; 
  z-index: 1;
}
 #result a:hover i {
  color: black;
}
.re-header button {
  border: none;
  background-color: white;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
  padding: 8px 30px;
  font-size: 18px;
  transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}
.re-body {
  padding: 0px 5px;
  margin: 10px 0;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.2s ease-out; 
}
