body {
  margin: 20px 0px;
}
.container {
  width: 80%;
  margin: auto;
}
.row {
  margin: 2px 0;
  padding: 5px;
  overflow: hidden;
}
.darkPurple {
  background-color: rgb(48, 35, 61);
}
.lime {
  background-color: rgb(170, 201, 68);
}
.offline {
  background-color: rgb(173, 206, 186);
}
.circle {
  border: 1px black solid;
  height: 12px;
  display: inline-block;
  border-radius: 6px;
  padding: 0 5px; 
  margin-right: 20px;
 
}
.relative {
  position: relative;
  height: 20px;
  margin-bottom: 2px;
}
.menue {
  background-color: rgb(239, 239, 222);
  height: 100%;
  font-size: 11px;
  padding: 3px;
}
.animated {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  transition: .5s ease;
  width: 50%;
}
.menue a {
  display: block;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
.hid {
  display: none;
}
.relative:hover .animated{
  width: 100%;
  left: 0;
}
.relative:hover .hid {
  display: inline-block;
}

a:hover {
  text-decoration: none;
}
.logo {
  max-height: 50px;
  max-width: 50px;
  border-radius: 25px;
  box-sizing: border-box;
}
.status, .game {
  line-height: 25px;
  height: 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .status, .game {
    line-height: 50px;
    height: 50px;
    text-align: center;
  }
}