.container {
    background-color: #333;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    box-shadow: 0px 0px 12px #222;
}

.btns {
    display: inline-block;
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 5px 0 0 5px;
}
.clickable {
    pointer-events: auto;
    cursor: pointer;
}
.unclickable {
    pointer-events: none;
}
.green {
    border-radius: 200px 0 0 0;
    background-color:#00a74a;
}
.red {
    border-radius: 0 200px 0 0;
    background-color:#9f0f17;
}
.blue {
    border-radius: 0 0 0 200px;
    background-color:#094a8f;
}
.yellow {
    border-radius: 0 0 200px 0;
    background-color:#cca707;
}
.yellow.light {
    background-color: #fed93f;
}

.blue.light {
    background-color: #1c8cff;
}
.red.light {
    background-color: #ff4c4c;
}

.green.light {
    background-color: #13ff7c;
}

.shadowed {
    box-shadow: 2px 2px 8px 8px #8C8E8F inset; 
}

.center {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #333;
}
h1 {
    text-align: center;
}
.name {
    font-family: 'Alfa Slab One';
    font-size: 50px;
    margin-bottom: 5px;
}
.small {
    font-size: 13px;
    position: relative;
    top: -20px;
}
.btnsContainer {
    position: relative;
    padding: 0 10px;
    font-family: 'Oswald',Arial,sans;
}

.btnsContainer div {
    display: inline-block;
    text-align: center;
    margin: 0 2px;
    position: relative;
}
.btnsContainer div p {
    margin: 0px;
    padding: 0px;  
    font-size: 12px; 
}
#count {
    width: 60px;
    height: 40px;
    border: 3px solid #333;
    border-radius: 8px;
    background-color: #32050C;
    margin: 0 10px;
    font-size: 26px;
    padding-top: 2px;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
.led-on {
    color: red;
}
.led-off{
    color: #430710;
}

#start {
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
    background-color: red;
    margin: 0 5px;
    box-shadow: 0px 2px 3px #222;
}
#strict {
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
    background-color: yellow;
    margin: 0 5px;
    box-shadow: 0px 2px 3px #222;
}
#strictLight {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
    top: -10px;
    left: 35%;
}
#strictLight.led-on {
    background-color: red;
}
.switchLabel {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
}
.switchLabel input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #118DF2;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2px;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
#gameStarter {
    height: 18px;
}
#gameStarterContainer {
    display: block;
    margin: auto;
    padding-top: 10px;  
}
#gameStarterContainer h3 {
    font-size: 10px;
    display: inline-block;
    text-align: center;
    margin: 0px;
    position: relative;
    bottom: 5px;
}
