html {
  height: 100%;
}
body {
  height: 100%;
  background-image: url('https://lh3.googleusercontent.com/NcRpp1l8duQG5-_xp1AArCfOg-yERAYKQaPIMWMfxFnB4BiLVMGxDWpkhXBDj0RGHQ=h556');
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  color: pink;
  font-family: Times;
  text-align: center;
  font-size: 34px;
}

#weatherInf {
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 16px;
}
#myBtn {
  color: white;
  background-color: transparent;
  outline: none;  
  border: none;
  padding: 0px;
  font-size: 16px;
  cursor: pointer;
}

#location {
  font-size: 35px;
}
