body{
    box-sizing: border-box;
    
}
.outer-container {
    margin: auto;
    margin-top: 100px;
    width: 400px;
    height: 450px;
    background-color: #EBAF6E;
    border-radius: 15px;
    box-shadow: 5px 10px 10px grey,  -8px 5px 20px grey,inset -1px 1px 7px rgba(0,0,0,.2), inset 1px -1px 7px rgba(0,0,0,.2);
    padding: 0px 20px 20px 20px;
    position: relative;
}
.inner-container{
    height: 100%;
    position: relative;
}
.game-top {
    padding: 0 5px;
}
.game-canves {
    padding: 0px 5px;
    background-color: rgba(40,40,40,1); 
    height: 390px;
    position: relative;
}

#player1-turn {
    display: inline-block;
    width: 150px;
    background-color: #33E8E5;
    text-align: center;
    color: white;
    transition: .5s ease;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: -100;
}
#player2-turn {
    display: inline-block;
    width: 150px;
    background-color: #821E34;
    text-align: center;
    color: white;
    transition: .5s ease;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 270px;
    z-index: -100;
}

.score-record {
    display: inline-block;
    width: 30%; 
    font-family: 'Architects Daughter', sans-serif;
    color: rgba(100,60,50,.8);
}

.score-record span {
    display: block;
    padding-left: 8px;
}
.right{
    margin-left: 30px;
}
#score-divider {
    font-size: 35px;
}
.myBtn{
    border: 2px solid transparent;
    border-radius: 10px;
}
.myBtn:hover {
    border: 2px dashed #693C0C;
    border-radius: 10px;
}
.myBtn:focus {
    outline: none;
}
#resetBtn { 
    background-color: #EBAF6E;
    font-size: 18px;
    font-family: 'Architects Daughter', sans-serif;
    padding: 2px;
    position: absolute;
    top: 5px;
    right: 0px;
    color: rgba(100,60,50,.8);
}
.game-inform {
    width: 71%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 32px;
    font-family: 'Architects Daughter', sans-serif;
    z-index: 1500;
}
.game-inform button {
    color: white;
    font-size: 25px;
    background-color: rgba(40,40,40,1);
    opacity: 0.5;
}
.game-inform button:hover {
    border: 2px dashed white;
}
#backBtn {
    display: block;
    width: 120px;
    margin: auto;
}
.hidden {
    display: none;
}
.disappear {
   visibility: hidden;
}
#boxs {
    position: absolute;
    top: 0;
    left: 5px;
    width: 390px;
    height: 390px;
    padding: 0px;
    margin: 0px;
    z-index: 500;
}
#boxs div {
    width: 32%;
    height:32%;
    margin: 4px 2px 2px 2px;
    float: left;
    text-align: center;
    font-size: 6.5em;
    font-style: normal;
    font-family: "Architects Daughter", "Helvetica", "sans-serif";
    color: rgba(220,220,220,.7);
}
.colored {
    background-color: #01267A;
}
