body {
  font-family: 'Orbitron', sans-serif;
  background-color: #818181;
  height: 100%;
}
.container {
  margin: auto;
  width: 300px;
  padding: 0px;
  height: 400px;
  background-color: #C7C9C1;
  margin-top: 50px;
  border: 2px solid #908b85;
  border-radius: 20px;
  box-shadow: 7px 10px 34px 1px black, inset -1px -6px 12px 0.1px #89847e;
}

.calculator {
 padding: 15px;
}
.calculator h5 {
  text-align: center;
  font-size: 20px;
  margin: 8px 0;
  font-weight: 500;
}
#display {
  background-color: #DEE3D3; 
  text-align: right;
  border: 1.5px solid #b4b39d;
  border-radius: 6px;
  margin: 15px 0;
}
#display #answer {
  font-size: 23px;
  margin: 0px;
  line-height: 34px; 
  
}
#display #history {
  font-size: 12px;
  margin: 0px; 
  line-height: 18px;
}
.redBtn {
  font-size: 16px;
  background-color: #a72d45;
  box-shadow: 0px 3px 0px 0px #671c2a;
}
.buttons {
  width: 100%;
}
button {
  width: 23%;
  margin-right: 1.5px;
  margin-bottom: 5px;
  box-shadow: 0px 3px 0px #222121, inset -1px -3px 10px 1px #515151;
  background-color: #3a3a3a;
  color: white;
  padding: 6px;
  border-radius: 8px;
  font-size: 16px;
}
button:active{
  box-shadow: none;
  transform: translate(0, 4px);
}
.btnContainer {
  margin: 15px 0px;
  overflow: auto;
  height: 100%;  
}
.floatDiv{
  float: left;
  width: 76%;
}
.floatDiv button {
  width: 30%;
  margin-bottom: 19px;
}
#equalBtn {
  height: 91px;
}
#zeroBtn {
 width: 63%;
}

button,
button:hover,
button:active,
button:focus,
button:visited {
  text-decoration: none !important;
  outline: 0 !important;
  border: none !important;
}